*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@media (max-width: 515px) {
    section{
        width: 200%;
        height: 200vh;
        background-image: url("image/background.jpg");
        background-position: center;
   
    }
    #headBox{
        width: 100%;
        padding-left: 20px;
        margin-left: 20px;
    }
    #headBox h1{
        font-size: 37px;
    }
    #header{
        padding-left: 40px;
        padding-top: 30px;
        padding-bottom: 40px;
    }
    #header nav{
        display: none; 
    }
    #header nav ul li{
        display: inline-block;
        font-size: 15px;
        margin-left: 40px; 
        
    
    }
    #toggle{
        display: block;
        position: fixed;
        right: 10px;
        top: 10px;
        width: 70px;
        height: 50px;
        filter:invert(100%);
        touch-action: none;
        
    }
    #aboutdeveloper{
        text-align: center;  
        padding-top: 80px;
        
        
    }
    #Musics1 ,#Musics2,#Musics3{
        
        padding-right: 100px; 
    }
    
   
    
    
}
section{
    width: 100%;
    height: 140vh; 
    background-image: url("image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 729px)   {
    section{
        width: 200%;
        height: 200vh;
        background-image: url("image/background.jpg");
        background-position: center;
  
    }
    #header{
        padding-bottom: 30px;
    }
    #aboutdeveloper{
        padding-top: 80px;
    }
}
#header{
    width: 100%;
    height: 12vh; 
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 0px 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#header img{
    width: 150px;
}
#header nav ul{
    padding-left: 350px;
}
#header nav ul li{
    display: inline-block;
    font-size: 22px;
    margin-left: 40px; 
    

}
#header nav ul li a{
    text-decoration: none;
    color: red; 
}
#header nav ul li a:hover{
    color: lime;
    border-bottom: 2px solid red;
    transition: 0.5s;
}
#Musics1{
    display: flex;
    padding-left: 190px;
    
}


#headCenter{
    width: 100%;
    height: 35vh; 
    padding-left: 50px;
    justify-content: center;
    place-items: center;
}
#headCenter p{
    color: white;
    font-size: 35px;
    text-shadow: 3px 5px 9px rgba(122, 52, 2, 0.986);
    cursor: pointer;
    justify-content: center;
    
}
#headCenter p:hover{
    text-shadow: 3px 5px 9px rgb(240, 102, 4);
}
#Musics2{
    display: flex;
    padding-left: 190px;
}

#headCenter img{
    width: 100px;
    height: 100px;
    margin-top: 75px;
    box-shadow: 2px 2px 12px orange;
    border-radius: 50%;
    cursor: pointer;
} 
#Musics3{
    display: flex;
    padding-left: 190px;
}
footer{
    color: cornsilk;
    font-size: x-large;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    
}
#toggle{
    display: none;
}

    
